.container{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
 }
 .modal{
    background: white;
    border: 1px solid rgba(197,165,114,0.1);
    padding: 2.5rem 3.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 8px 32px rgba(12, 35, 64,0.15);
 }
 .closeButton{
    position: relative;
    top: -10px;
    border: none;
    background: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--neutral);
    width: 100%;
    display: flex;
    justify-content: end;
    
    transition: all 0.2s ease;
    }
    .closeButton:hover{
        transform: translateY(-2px);
        color: var(--error);
    }
    .title{
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: -0.5px;
        margin-bottom: 1.2rem;
        color: #33a14b;
        
    }
    .containerGroup{
        margin-bottom: 1rem;
        color: #33a14b;
    }
    .containerGroup label{
        display: block;
        margin-bottom: 0.6rem;
        color:#33a14b;
        font-weight: 600;
        font-size: 0.95rem;
        
    }
    .containerGroup input{
        width: 100%;
        padding: 0.3rem 1rem;
        border: 2px solid var(--neutral-light);
        font-size: 1rem;
        transition: all 0.2s ease;
        border: #33a14b solid 1px;
        background-color: var(--white);
        
    }
    .containerGroup input:focus{
        border-color: var(--error);
        box-shadow: 0 0 0 3px rgba(197,165,114,0.15);
    }
    .submitButton{
        width: 100%;
        padding: 0.6rem;
        background:#33a14b;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3 ease;
        font-weight: 600;
        font-size: 0.9rem;
        margin-top: 1.5rem;
        letter-spacing: 0.5px;
        box-shadow: 0 4px 12px rgba(12, 35, 64,0.15);
        
        
    }
    .submitButton:hover{
        background:#237034;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(12, 35, 64, 0.2);
    }
    .createAccount{
        color: var(--neutral);
        font-size: 1rem;
        text-align: center;
        margin-top: 5px;
    }
    .createAccountLink{
        color: var(--error);
        font-weight: 600;
        text-decoration: none;
        transition: all 0.2s ease;
    }
    .createAccountLink:hover{
        color: var(--primary);
        text-decoration: underline;
    }