
*{
  font-family:'Nunito';
}
.bodyContainer{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-image: url("./img/fundo.webp");
 background-size: cover;
 width: 100%;
 position: relative;
 overflow: hidden;
}

.container {
width: 80%;
height: 80vh;
background-color:white;



 
}



