html,
body {

    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    
}
*{
  font-family:'Nunito';
}
.container {

background: linear-gradient(100deg, #251a1a,rgba(10, 10, 10, 0.692),rgba(24, 26, 37, 0.884));
min-height: 100vh;
 
}



